
body {

  background-color: #222831;
  color: #eeeeee;
  font-family: 'Raleway', sans-serif;
}

.jumbotron {

  background-color: #393e46;
}

h1, h4 {
  text-align: center;
}

.btn {
  margin-top: 5px;
}

input {
  margin-top: 2px;
}
